.wallet {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #e3f8ed;
    margin: 10px;
    padding-top: 10px;
}
.token {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #ffe5b4;
    margin: 10px;
    padding-top: 10px;
}
.mint {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #c3d5e1;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}