.wallet {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #e3f8ed;
    margin: 10px;
    padding-top: 10px;
}
.token {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #ffe5b4;
    margin: 10px;
    padding-top: 10px;
}
.mint {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #c3d5e1;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.addLiq {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #e8d1ee;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.swap {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #e3fabb;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.remove {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #c6c4e8;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.shares {
    text-align: center;
    width: auto;
    height: auto;
    border: 2px solid #000000;
    background: #b4ffbe;
    margin: 10px;
    padding-top: 10px;
}